{% extends 'base.html' %}
{% block titulo %} Recetas registradas {% endblock %}

{% block css %}
    <style>
        img {width: 100px ;}
    </style>
{% endblock %}

{% block encabezado %}
    <h1>Nuestas recetas</h1>
{% endblock %}

{% block contenido %}
    <a href="/receta/nueva">Agregar una receta</a>
<ul>
    {% for dato in datos %}
    <li>
        <a href='{% url 'principal.views.detalle_receta' dato.id %}'>{{dato.titulo}}</a>
        <img src='{{ MEDIA_URL }}{{ dato.imagen }}'>
    </li>
    {% empty %}
    <li>Aún no hay recetas registradas</li>
    {% endfor %}

</ul>
{% endblock %}

<!--
<!DOCTYPE html>
<html>
<style>
    img { width:  100px; }
</style>
<header>
    <nav>
        <ul>
            <li><a href='/'>Inicio</a></li>
            <li><a href='/usuarios'>Usuarios registrados</a></li>
            <li><a href='/recetas'>Recetas</a></li>
            <li><a href='/sobre'>Sobre</a></li>
        </ul>
    </nav>
</header>
<section>
    <h1> Nuestras recetas </h1>
    <ul>
        {%for dato in datos%}
        <li>
            <a href='/receta/{{ dato.id }}'>{{ dato.titulo }}</a><br>
            <img src='{{ MEDIA_URL }}{{ dato.imagen }}'>
        </li>
        {% endfor %}
    </ul>
</section>
</html> -->